@charset "UTF-8";
* {
    color: #FFFFFF;
}
body {
    background-color: #000000;
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
}
img {
    vertical-align: bottom;
}
a {
    display: block;
}
#container {
    width: 920px;
    margin: 0 auto;
    background-color: #333333;
}
#header {
    width: 900px;
    margin: 0 auto;
}
#header h1 {
    margin: 0 auto;
    width: 894px;
}
#nav ul {
    padding: 0 1px;
    display: flex;
    list-style-type: none;
    text-align: center;
    margin: 4px 0 10px 0;
}
#nav li {
    flex: 1;
    border-style: solid;
    border-color: #000000;
    font-weight: bold;
    padding: 4px;
    margin: 0 2px;
}
#main {
    margin: 0 10px 10px 10px;
    display: flex;
}
#content {
    width: 470px;
    margin: 0 10px;
    order: 2;
}
#submenu {
    width: 160px;
    order: 1;
}
#topic {
    width: 250px;
    order: 3;
}
.profile {
    margin: 0 0 10px 0;
    border: solid 2px #000000;
}
.profile h2 {
    margin: 0;
    padding: 6px;
    background-color: #242424;
}
.profile p {
    margin: 16px 8px;
    text-indent: 1em;
}
.maincontents {
    margin-bottom: 10px;
    border: solid 2px #000000;
}
.maincontents h3 {
    margin: 0;
    padding: 6px;
    background-color: #242424;
}