@charset "UTF-8";

* {
    color: #FFFFFF;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
}

img {
    vertical-align: bottom;
}

#container {
    width: 920px;
    margin: 0 auto;
    background-color: #333333;
}

#header {
    width: 900px;
    margin: 0 auto;
}

#header h1 {
    margin: 0 auto;
    width: 894px;
}

#heasder a {
    display: block;
}

#nav ul {
    padding: 0 1px;
    display: flex;
    list-style-type: none;
    text-align: center;
    margin: 10px 0 10px 0;
}

#nav li {
    flex: 1;
    border-style: solid;
    border-color: #000000;
    font-weight: bold;
    padding: 4px;
}

.navl {
    margin: 0 2px 0 0;
}

.navc {
    margin: 0 2px;
}

.navr {
    margin: 0 0 0 2px;
}

#main {
    margin: 0 10px 10px 10px;
    display: flex;
}

#content {
    width: 730px;
    margin: 0 0 0 10px;
    order: 2;
}

#submenu {
    width: 160px;
    order: 1;
}

.welcome {
    margin: 0 0 10px 0;
    border: solid 2px #000000;
}

.welcome h2 {
    margin: 0;
    padding: 6px;
    background-color: #242424;
}

.welcome p {
    margin: 10px;
    text-indent: 1em;
}

.maincontents {
    margin-bottom: 10px;
    border: solid 2px #000000;
}

.maincontents h3 {
    margin: 0;
    padding: 6px;
    background-color: #242424;
}

.maincontents p {
    margin: 10px;
    text-indent: 1em;
}

#sitemap {
    margin: 0 0 10px 0;
    border: solid 2px #000000;
}

#sitemap h4 {
    margin: 0;
    padding: 6px;
    background-color: #242424;
}

#sitemap ul {
    list-style: none;
}

.sitemap-root {
    margin: 12px;
    padding: 0;
}

.sitemap-node {
    padding-left: 1em;
}

#footer {
    border-top: solid 2px #555555;
    padding: 15px;
}

#cc p {
    text-align: center;
    margin: 10px auto 0;
}

#ccimg {
    margin: 0 auto;
    width: 88px;
}

#ccimg a {
    display: block;
}

#ccimg img {
    width: 88px;
    height: 31px;
}