@charset "UTF-8";

* {
    color: #FFFFFF;
}

body {
    background-color: #333333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #555555;
}

li {
    border-bottom: 1px solid #555555;
    height: 1.3em;
    padding-top: 0.3em;
}